.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/CodeChunks.db-wal
.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-shm
.vs/VSIXProject1/CopilotIndices/17.14.1347.20289/SemanticSymbols.db-wal
.vs/VSIXProject1/FileContentIndex/01ecf5bb-71aa-4fbe-b792-1e9a8e882879.vsidx
.vs/VSIXProject1/FileContentIndex/62e23b93-92c2-42de-ae1f-77aaeadacbc7.vsidx
.vs/VSIXProject1/FileContentIndex/67018a62-a62e-47a7-94c5-a4f76717e995.vsidx
.vs/VSIXProject1/FileContentIndex/cd9807e0-16c1-40a8-b8ab-c779a922caa5.vsidx
.vs/VSIXProject1/FileContentIndex/f6ed558a-ad6e-4cf7-ba2a-9b30c8370f67.vsidx
.vs/VSIXProject1/v17/.suo
.vs/VSIXProject1/v17/DocumentLayout.backup.json
.vs/VSIXProject1/v17/DocumentLayout.json
VSIXProject1/obj/project.assets.json
VSIXProject1/obj/project.nuget.cache
VSIXProject1/obj/VSIXProject1.csproj.nuget.dgspec.json
VSIXProject1/obj/VSIXProject1.csproj.nuget.g.props
VSIXProject1/obj/VSIXProject1.csproj.nuget.g.targets
VSIXProject1/obj/Debug/_EmptyResource.resources
VSIXProject1/obj/Debug/_EmptyResource.resources.original
VSIXProject1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VSIXProject1/obj/Debug/createTemplateManifests.cache
VSIXProject1/obj/Debug/ctoFiles.json
VSIXProject1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VSIXProject1/obj/Debug/ExportPackage.cto
VSIXProject1/obj/Debug/extension.vsixmanifest
VSIXProject1/obj/Debug/files.json
VSIXProject1/obj/Debug/mergeCto.cache
VSIXProject1/obj/Debug/resources.json
VSIXProject1/obj/Debug/VSCT.read.1.tlog
VSIXProject1/obj/Debug/VSCT.write.1.tlog
VSIXProject1/obj/Debug/VSIXProject1.csproj.AssemblyReference.cache
VSIXProject1/obj/Debug/VSIXProject1.csproj.CoreCompileInputs.cache
VSIXProject1/obj/Debug/VSIXProject1.csproj.FileListAbsolute.txt
VSIXProject1/obj/Debug/VSIXProject1.csproj.GenerateResource.cache
VSIXProject1/obj/Debug/VSIXProject1.csproj.VsixDeployedFileListAbsolute.txt
VSIXProject1/obj/Debug/VSIXProject1.dll
VSIXProject1/obj/Debug/VSIXProject1.latest.pkgdef
VSIXProject1/obj/Debug/VSIXProject1.pdb
VSIXProject1/obj/Debug/VSIXProject1.pkgdef
VSIXProject1/obj/Release/_EmptyResource.resources
VSIXProject1/obj/Release/_EmptyResource.resources.original
VSIXProject1/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VSIXProject1/obj/Release/createTemplateManifests.cache
VSIXProject1/obj/Release/ctoFiles.json
VSIXProject1/obj/Release/ExportPackage.cto
VSIXProject1/obj/Release/extension.vsixmanifest
VSIXProject1/obj/Release/files.json
VSIXProject1/obj/Release/mergeCto.cache
VSIXProject1/obj/Release/resources.json
VSIXProject1/obj/Release/VSCT.read.1.tlog
VSIXProject1/obj/Release/VSCT.write.1.tlog
VSIXProject1/obj/Release/VSIXProject1.csproj.AssemblyReference.cache
VSIXProject1/obj/Release/VSIXProject1.csproj.CoreCompileInputs.cache
VSIXProject1/obj/Release/VSIXProject1.csproj.FileListAbsolute.txt
VSIXProject1/obj/Release/VSIXProject1.csproj.GenerateResource.cache
VSIXProject1/obj/Release/VSIXProject1.csproj.VsixDeployedFileListAbsolute.txt
VSIXProject1/obj/Release/VSIXProject1.dll
VSIXProject1/obj/Release/VSIXProject1.latest.pkgdef
VSIXProject1/obj/Release/VSIXProject1.pdb
VSIXProject1/obj/Release/VSIXProject1.pkgdef
.vs/VSIXProject1/FileContentIndex/5d9b8590-39d9-4121-ac05-610d85e446b8.vsidx
.vs/VSIXProject1/FileContentIndex/8e115c15-7e19-4201-9ca2-b209e999552f.vsidx
.vs/VSIXProject1/FileContentIndex/37290ac6-740b-466b-983f-9e4557e21afa.vsidx
.vs/VSIXProject1/FileContentIndex/f5a47965-49f7-47b9-8226-8cd1c4536521.vsidx
